@charset 'utf-8';

/*! style.css | @License: GPL-3+ | http://source.couchdesign.dk/solidbox/content.git */

@import "h5bp";
@import "compass/typography";

@include h5bp-normalize;
@include h5bp-media;

body {
	@media print {
		font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
		font-size: 10pt;
		line-height: 11pt;
	}
	margin: 2em;
	max-width: 62em;
}

a {
	@include hover-link;
}

.topbar {
	@media print {
		display: none !important;
	}
	@include inline-list;
}

@media print {
	a[href*=".wikipedia.org/"]:after,
	a[href*="//www.openstreetmap.org/"]:after {
		content: "";
	}
}

%box {
	border: 2px solid #ccc;
	padding: 10px;
	margin-bottom: 1em;
	background-color: lightgrey;
	&:before {
		font-weight: bold;
	}
}

.info {
	@extend %box;
	border-color: lightgreen;
	&:before {
		content: "NOTICE:";
	}
}

.todo {
	@extend %box;
	border-color: orange;
	&:before {
		content: "TODO:";
	}
}
